/*cabeçalho*/
header img {
  height: 70px;
  width: 70px;
}

/*Conteudo principal*/

/*banner*/
#section-banners img {
  height: 500px;
}
/*Produtos vendidos*/
#section-vendidos {
  background-color: #fff;
}

#section-vendidos h2 {
  font-size: 1.8rem;
  color: #000;
}

.card img {
  height: 200px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 1rem;
}

.preco {
  margin: 0.5rem 0 1rem;
  font-size: 1.1rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
}
/*Rodapé*/

footer {
  position: relative;
  bottom: 0;
}
footer p {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

/*Botão Voltar topo*/
#voltar-topo {
  position: fixed;
  bottom: 5px;
  right: 50px;
}

/* página de login  */
.botoes-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

/* Botão principal de login */
.botoes-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

/* Botão principal de login */
.btn-login {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 15px 80px; /* aumentei altura e largura */
  border-radius: 10px;
  font-size: 1.2rem; /* letras maiores */
  font-weight: 600;
  text-transform: uppercase; /* tudo em maiúsculo */
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-login:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Botão de cadastro */
.btn-cadastro {
  background-color: #00c3ff;
  color: #000;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-cadastro:hover {
  background-color: #00a0d1;
  transform: scale(1.05);
}

/* Botão de cadastro */
.btn-cadastro {
  background-color: #00c3ff;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-cadastro:hover {
  background-color: #00a0d1;
  transform: scale(1.05);
}

/* Formulário de cadastro*/
#section-cadastro {
  padding: 5px;
  text-align: center;
  background-color: #fff;
}
#form-cadastrar {
  padding: 50px;
  display: none;
}

/* Section 